script(src="https://unpkg.com/htmx.org@2.0.4")
script.
  htmx.on("htmx:beforeSwap", (error) => {
    // Allow 422 and 400 responses to swap
    // We treat these as form validation errors
    if (error.detail.xhr.status === 422 || error.detail.xhr.status === 400) {
        error.detail.shouldSwap = true;
        error.detail.isError = false;
    }
  })
