head
  base(href="/")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title SMTP Admin

  include /partial/head/htmx
  include /partial/head/tailwindcss
